* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 85%;
  padding: 0 7.5% 0 7.5%;
  background-color: #E5F3F2;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.idea-h1 {
  color: #00A79D;
  font-size: 36px;
}

.box-h1 {
  color: #6D6E71;
  font-size: 36px;
}

.h1-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-title {
  font-size: 24px;
  border: 1px solid lightgray;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-body {
  font-size: 24px;
  border: 1px solid lightgray;
  height: 180px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.save-button:hover{
  background-color: #045E55;
}

main {
  width: 85%;
  padding: 3% 7.5% 0 7.5%;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.search-container{
  width: 85%;
  margin: auto;
  margin-top: 10px;
}

.input-search {
  font-size: 24px;
  height: 40px;
  width: 100%;
  border: 1px solid lightgray;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

article {
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;

}

.card-delete-button {
  width: 25px;
  height: 25px;
  background: none;
  background-image: url("images/delete.svg");
  border: none;
  border-radius: 100%;
  float: right;
  margin-top: 10px;
}

.card-delete-button:hover{
  background-image: url(images/delete-hover.svg);
}

.card-body {
color: #939598;
font-size: 18px;
width: 100%;
height: 70px;
border: none;
}

.card-quality-container {
  display: flex;
  width: 55%;
  justify-content: flex-start;

}

.card-quality-up {
  width: 20px;
  height: 20px;
  background: none;
  background-image: url("images/upvote.svg");
  border: none;
  border-radius: 100%;
  margin-right: 7%;
}

.card-quality-up:hover{
  background-image: url("images/upvote-hover.svg");
}

.card-quality-down {
  width: 20px;
  height: 20px;
  background: none;
  background-image: url("images/downvote.svg");
  border: none;
  border-radius: 100%;
  margin-right: 7%;
}

.card-quality-down:hover{
  background-image: url("images/downvote-hover.svg");
}

.card-quality-text {
  color: #6D6E71;
}

.card-quality-text-2 {
  color: #6D6E71;
}

hr {
  margin-top: 15px;
  border: 0;
  border: 1px solid #D1D3D4;
}

@media (min-width: 500px) {
  header{
    height: 50vh;
  }
}

@media (min-width: 900px) {
  .header-container {
    width: 50%;
  }

  header{
    padding: 0;
    width: 100%;
    height: 40vh;
  }
  .idea-h1 {
    color: #00A79D;
    font-size: 60px;
    margin-bottom: 10px;
  }

  .box-h1 {
    color: #6D6E71;
    font-size: 60px;
    margin-bottom: 10px;
  }

  main {
    width: 50%;
    height: 60vh;
    padding-top: 20px;
  }

  .input-body{
    height: 50px;
    padding-top: 10px;
  }

  .search-container{
    width: 50%;
  }
}
